/*
INDEX
-Base
--Inherited
-Main conteiners
--Main content
-Components
--Logo
--Board
--Point Boards
--Tile
*/

/* Base */
html, body {
   background-color: #fcfcfc;
   color: #666666;
   height: 100%;
}
.container-fluid {
   height: 100%;
   min-height: 100%;
}
.main-color-red {
   color: #f44242;
}
.main-color-yellow {
   color: #f4d041;
}
.main-color-green {
   color: #00aa05
}
.overflow-hidden {
   overflow: hidden;
}
.monospace {
   font-family: monospace;
}
.margin-top-10 {
   margin-top: 10px;
}
.margin-top-15 {
   margin-top: 15px;
}
/* =Inherited */
.menu {
   list-style: none;
   border-bottom: 0.1em solid black;
   margin-bottom: 2em;
   padding: 0 0 0.5em;
}

.menu:before {
   content: "[";
}

.menu:after {
   content: "]";
}

.menu > li {
   display: inline;
}

.menu > li + li:before {
   content: "|";
   padding-right: 0.3em;
}

/* Main containers */
/* =Main content */
#main-content {
   min-height: 100%;
   height: 100%;
   width: 100%;
}
.container-aligned-center {
   height: 100%;
   display: table;
   margin: 0;
   width: 100%;
}
.content-aligned-center {
   display: table-cell;
   padding: 0;
   margin: 0 auto;
   vertical-align: middle;
}
div[class*="content-aligned-center col-"] {
   float: none;
}

/* Components */
/* =Logo */
.a-logo {
   font-family: monospace;
   font-size: 5em;
}
/* =Board */
.board-container {
   max-width: 500px;
   border-radius: 0.7em;
   padding: 0.8em 2em;
   margin: auto;
}
.main-play-board-cont-tails {
   background-color: #f2f2f2;
}

/* =Point Boards */
.board-round {
   width: 100%;
   background-color: #f2f2f2;
   padding-top: 1em;
   padding-bottom: 1em;
}
.left-point-board-round {
   border-top-right-radius: 1em;
   border-bottom-right-radius: 1em;
   padding-left: 15px;
   position: relative;
   left: -15px;
}
.right-point-board-round {
   border-top-left-radius: 1em;
   border-bottom-left-radius: 1em;
   padding-right: 15px;
   position: relative;
   right: -15px;
}
/* =Tile */
.tile {
   border: 2px solid #757575;
   display: inline-block;
   float: left;
   font-family: monospace;
   font-size: 2.5em;
}
.tile span {
   display: inline-block;
   vertical-align: middle;
}
