<div class="container-aligned-center" ng-controller="HomeController as homeCtrl">
   <div class="content-aligned-center">
      <div class="col-xs-12">
         <div class="row">
            <div class="col-md-offset-4 col-md-4">
               <h1 class="a-logo">
                  Tic <span class="main-color-red">X</span><span class="main-color-yellow">O</span><br />
                  Tac <span class="main-color-red">X</span><span class="main-color-yellow">O</span><br />
                  Toe <span class="main-color-red">X</span><span class="main-color-yellow">O</span><br />
               </h1>
            </div>
         </div>

         <div class="row">
            <div class="col-md-offset-4 col-md-4">
               <button type="button" class="btn btn-success" ng-click="homeCtrl.goPlay1vs1()">PLAY</button>
            </div>
         </div>
      </div>
   </div>
</div>
