<div class="container-aligned-center row" ng-controller="GameController as homeGmCtrl">
   <div class="content-aligned-center col-md-2">
      <div id="point-X" class="board-round text-center left-point-board-round main-color-red">
         <h4>
            Points {{homeGmCtrl.nameX}} (<span class="monospace"><strong>X</strong></span>)
         </h4>
         <h3>{{homeGmCtrl.pointsX}}</h3>
      </div>
   </div>
   <div id="play-board" class="content-aligned-center col-md-8 board-container">
      <ui-view></ui-view>
      <div class="row margin-top-10">
         <div class="col-md-4">
            <button type="button" class="btn btn-success pull-right" ng-click="homeGmCtrl.initBoard()">
               {{homeGmCtrl.blockBoard ? 'NEXT ROUND' : 'RESET BOARD'}}
            </button>
         </div>
         <div ng-if="!homeGmCtrl.blockBoard" class="col-md-4 text-center"
              ng-class="{'main-color-red': homeGmCtrl.turn % 2 === 0, 'main-color-yellow': homeGmCtrl.turn % 2 !== 0}">
            <strong>{{homeGmCtrl.turn % 2 === 0 ? homeGmCtrl.nameX : homeGmCtrl.nameO}} IT'S YOUR TURN!</strong>
         </div>
         <div ng-if="homeGmCtrl.blockBoard" class="col-md-4 text-center main-color-green">
            <h4><strong>{{homeGmCtrl.turn % 2 !== 0 ? homeGmCtrl.nameX : homeGmCtrl.nameO}} YOU WON!</strong></h4>
         </div>
         <div class="col-md-4">
            <button type="button" class="btn btn-success" ng-click="homeGmCtrl.initVariables()">RESET GAME</button>
         </div>
      </div>
   </div>
   <div class="content-aligned-center col-md-2">
      <div id="point-O" class="board-round text-center right-point-board-round main-color-yellow">
         <h4>
            Points {{homeGmCtrl.nameO}} (<span class="monospace"><strong>O</strong></span>)
         </h4>
         <h3>{{homeGmCtrl.pointsO}}</h3>
      </div>
   </div>
</div>
