<div class="row" ng-controller="GameOneVsOneController as ovoCtrl">

   <div class="board-container main-play-board-cont-tails" board-dimension>
      <div ng-repeat="arrayInside in homeGmCtrl.board track by $index" class="overflow-hidden">
         <tile-three-x-three
               class="text-center tile"
               ng-repeat="valueTile in arrayInside track by $index"
               model-in="valueTile"
               position-x="$parent.$index"
               position-y="$index"
               turn="homeGmCtrl.boardDimension"
               max-dimension="homeGmCtrl.boardDimension"
               ng-click="homeGmCtrl.changeValue($parent.$index, $index)"
               ng-style="homeGmCtrl.tileStyle">
         </tile-three-x-three>
      </div>
   </div>

</div>
